*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

button {
    padding: 5px 20px;
}

.buttons-container {
    display: flex;
    gap: 15px;
}